<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body>



<main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Registration Panel</div>
                    <div class="card-body">
                        <h4 th:text="${message}"> </h4>

                        <form class="form-control" method="post" th:object="${user}" th:action="@{/user/save}">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" th:field="*{firstName}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" th:field="*{lastName}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Adress</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" th:field="*{address}"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Phone</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input type="email" name="email" class="form-control" th:field="*{username}"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Birthdate</label>
                                <div class="col-md-6">
                                    <input type="date" class="form-control" th:field="*{birthdate}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" th:field="*{password}"/>
                                </div>
                            </div>


                            <<p>
                            Role:
                            <select name="role" th:field="*{roleId}">
                                <option th:each="role : ${roles}"
                                        th:value="${role.roleId}"
                                        th:text="${role.authority}"></option>
                            </select><br><br>
                        </p>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
</body>
</html>